{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Login" %} | Ireneo SMS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{% trans "Login" %}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}